@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

:root{
    font-size: 62,5%;
    font-family: 'Poppins', sans-serif;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    max-width: 1300px;
    width: 100%;
    margin: 0 35px;
}
li,i, button{
    cursor: pointer;
}
body{
    background-color: #FFFDEE;

}
header {
    display: flex;
    align-items: center;
    border: solid 1px;
    justify-content: center;
    padding: 10px;
    background-color: #FFFDEE;
    position: fixed;
    top: 0;
    width: 100%;
  }
  
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  nav {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  #nav_links {
    width: 100%;
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: space-around;
  }
  
  #nav_links i {
    font-size: 1.3rem;
    margin: 0 4px;
  }

    #nav_links a {
        text-decoration: none;
        color: black;
  }

button.unstyled-link {
    background: none;
    border: none;
    padding: 0;
    font: inherit;
    color: inherit;
    text-decoration: underline;
    cursor: pointer;
}

.submenu {
    display: none;
    position: absolute;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 10px;
    list-style-type: none;
    background-color: #FFFDEE;
}


#nav_links li:hover .submenu {
    display: block; /* Mostra o submenu quando o item do menu é hover */
}



/* HERO */
.hero-section{
    margin-top: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hero{
    margin-top: 40px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}
.hero .search-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5rem;
    justify-content: center;
}
.search-content .text{
    max-width: 35rem;
    font-size: 1.6rem;
}
.text p{
    font-size: 1.2rem;
}

.search{
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 20px;
}
.search button{
    padding: 0 20px;
    border-radius: 40px;
    border: none;
    color: white;
    background-color: #F54C4C;
    font-size: 1.1rem;
}

.search-bar input, input:focus{
    border: none;
    height: 30px;
    width: 100%;
    height: 40px;
    border-radius: 2rem;
    outline: none;
}
.search-bar i{
    margin: 0 10px;
    font-size: 1.3rem;
}
.search-bar{
    width: 100%;
    display: flex;
    background-color: white;
    align-items: center;
    border: solid 1px black;
    border-radius: 2rem;
}

.hero .image{
    display: flex;
    width: 250px;
}
.hero img{
    background-color: orange;
    border-radius: 90px;
    padding-top: 30px;
    width: 100%;
}


/* CATEGORIAS */
.categoria-section{
    margin-top: 20px;
    display: flex;
    justify-content: center;
}
.categoria h1{
    margin: 20px;
}
.categoria{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-container{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
    flex-wrap: wrap;
}
.card-categoria{
    background-color: #F4EAC6;
    display: flex;
    flex-direction: column;
    width: 150px;
    border-radius: 10px;
    align-items: center;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
}
.reptil {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    margin-left: 50px;
    width: 200px;
    align-items: center;
}

.passaro {
    display: flex;
    flex-direction: column;
    margin-top: 35px;
    width: 200px;
    align-items: center;
}

.peixe {
    display: flex;
    flex-direction: column;
    margin-top: 35px;
    margin-left: 25px;
    width: 200px;
    align-items: center;
}
.card-categoria p{
    font-size: 1rem;
    font-weight: 600;
}


/* SERVIÇOS */
.servicos{
    margin-top: 30px;
    display: flex;
    width: 100%;
    flex-direction: row-reverse;
    justify-content: space-evenly;
}
.servicos .left, .ofertas{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
}

.servicos-section{
    display: flex;
    justify-content: center;
}
.servicos-procurados{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.servico-container{
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(2, 200px);
    grid-template-rows: repeat(2, 1fr);
    gap: 50px;
    justify-content: center;
    align-items: center;
}

.card-servico{
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    font-size: 0.8rem;
    border-radius: 17px;
    box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.25);
}
.card-servico div{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.card-servico i{
    font-size: 1rem;
}
.card-servico img {
    border-radius: 17px;
}

.categorias-procuradas{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.categorias-procuradas h1{
    margin: 20px;
}
.card-categoria-procurada{
    background-color: #B6CAFF;
    box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    display: flex;
    width: 200px;
    padding: 30px 20px;
}
.card-categoria-procurada img{
    width: 100%;
}
.ofertas-container{
    display: flex;
    flex-direction: column;
    gap:10px;
}
.card-ofertas{
    background-color: #C5E3F4;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-items: flex-start;
    flex-direction: column;
    width: 17rem;
    border-radius: 10px;
    gap: 30px;
    padding: 20px 0;
    font-size: 0.8rem;
}
.card-ofertas .img{
    display: flex;
    width: 200px;
    align-items: center;
    justify-content: center;
}
.card-ofertas img{
    background-color: orange;
    padding: 0 15px;
    border-radius: 200px;
}


.card-ofertas button{
    padding: 15px 30px;
    border-radius: 30px;
    border: none;
}

/* FOOTER */
footer{
    display: flex;
    background-color: #F1E2C6;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
    padding: 50px;
}
.footer{
    width: 100%;
    justify-content: space-between;
    display: flex;
}
.footer ul{
    list-style: none;
}
.footer h1{
    font-size: 1.3rem;
}

.footer .rede-sociais i{
font-size: 2rem;
}