@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

:root{
    font-size: 62,5%;
    font-family: 'Poppins', sans-serif;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    max-width: 1300px;
    width: 100%;
    margin: 0 35px;
}
li,i, button{
    cursor: pointer;
}

header {
    display: flex;
    align-items: center;
    border: solid 1px;
    justify-content: center;
    padding: 10px;
    background-color: #FFFDEE;
    position: fixed;
    top: 0;
    width: 100%;

}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#nav_links {
    width: 100%;
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: space-around;
}

#nav_links i {
    font-size: 1.3rem;
    margin: 0 4px;
}

#nav_links a {
    text-decoration: none;
    color: black;
}

.submenu {
    display: none;
    position: absolute;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 10px;
    list-style-type: none;
    background-color: #FFFDEE;
}


#nav_links li:hover .submenu {
    display: block; /* Mostra o submenu quando o item do menu é hover */
}
/* HERO */
.hero-section{
    margin-top: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hero{
    margin-top: 40px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}
.hero .search-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5rem;
    justify-content: center;
}
.search-content .text{
    max-width: 35rem;
    font-size: 1.6rem;
}
.text p{
    font-size: 1.2rem;
}

.search{
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 20px;
}
.search button{
    padding: 0 20px;
    border-radius: 40px;
    border: none;
    color: white;
    background-color: #F54C4C;
    font-size: 1.1rem;
}

.search-bar input, input:focus{
    border: none;
    height: 30px;
    width: 100%;
    height: 40px;
    border-radius: 2rem;
    outline: none;
}
.search-bar i{
    margin: 0 10px;
    font-size: 1.3rem;
}
.search-bar{
    width: 100%;
    display: flex;
    background-color: white;
    align-items: center;
    border: solid 1px black;
    border-radius: 2rem;
}

.hero .login {
    background-color: #f8f2c6;
    border-radius: 90px;
    padding: 30px;
    width: 400px;
    height: 400px;
}

.hero .login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-top: 40px;
}

.hero .login-form input {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: none;
}

.hero .login-form button {
    padding: 10px 90px;
    border-radius: 5px;
    background-color: #109B1D;
    color: white;
    border: 2px solid #25B456;
    cursor: pointer;
}


.botao-cadastrar {
    background-color: #F2FBF3;
    color: #25B456;
    border: 2px solid #25B456;
    border-radius: 5px;
    padding: 10px 100px;
    font-size: 16px;
    cursor: pointer;
}

/* FOOTER */
footer{
    display: flex;
    background-color: #F1E2C6;
    justify-content: center;
    align-items: center;
    margin-top: 150px;
    padding: 50px;
}
.footer{
    width: 100%;
    justify-content: space-between;
    display: flex;
}
.footer ul{
    list-style: none;
}
.footer h1{
    font-size: 1.3rem;
}

.footer .rede-sociais i{
    font-size: 2rem;
}

